body
body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(7, 7, 7);
}

ul.topnav li {float:right  ;
    border-left:2px solid #bbb;}
   
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: rgb(14, 54, 187);}

ul.topnav li a.active {background-color: rgb(207, 23, 198);}

ul.topnav li.left {float: left;}


@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
h1 {
    color: black;
    text-align: left;
    font-family: Georgia;
    font-size: 25px;
    background-color: rgb(18, 73, 177);
}
p,li{
    font-size: 18px;
    font-family: courier New;
    color: rgb(0, 0, 0);
}
